body{
  margin:0px;
  color:white;
  height: 100vh;
}
.container{

  background-color: #222121;
  margin: 10px;
  border-radius: 2%;
}

.App {
  text-align: center;
 
  width: 30%;
  margin: auto;
  
  
}

.foto>img{
  width: 100%;
  height:350px;
  border-radius: 2% 2% 0 0;
}

footer{
padding: 20px;
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  border-radius: 0 0 2% 2% ;
}
footer>img{
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
 
}
.foto{

  
}
.foto--info{
 display: flex;
 justify-content: space-evenly;

}
.foto--info>div{
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  min-width: 30%;
}

.foto--info>div>img{
height: 20px;
width:20px;
margin-right: 10px;
}
.main{

  padding: 10px;
  align-items: left;
}
.main>p{
  
  text-align: left;
}
.main--title{
font-weight: bold;
font-size: 28px;
margin-bottom: 0px;

}
.white{
  background-color: white;
  color: black;
}
.blue{
  background-color: rgb(32, 112, 204);
}

.email, .linked{
 
}

.box{

  display: block;
  height: 200px;
  width: 200px;
  border:solid 1px black ;

}

.email{
  background-color: white;
  color: black;
}

.linked{
  background-color: blue;
}

.butt{
  display: flex;
  justify-content: space-evenly;
}